:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #2f2f2f;
}

img.crypto {
    border-radius: 50%;
}

a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

input {
    color: rgba(255, 255, 255, 0.87) !important;
}